.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  grid-area: 1 / 1 / 2 / 2;
  background: linear-gradient(180deg, #283e4c 0%, #292e4c 100%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px 180px;
  z-index: 2;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}

.leaderboard-header-button,
.about-header-button {
  align-self: center;
  font-weight: 300;
  color: var(--white);
  transition: font-weight 0.2s;
}

.leaderboard-header-button:hover,
.about-header-button:hover {
  font-weight: 700;
  cursor: pointer;
}

.leaderboard-header-button {
  justify-self: flex-start;
  text-align: start;
}

.about-header-button {
  justify-self: flex-end;
  text-align: end;
}
